@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-text-color: #ffffff;
    --primary-bg-color: #302e2e;
}

body {
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
}
